.errorContent {
    position: fixed;
    /* background-color: blueviolet; */
    width: 100%;
    margin-top: 122px;
    padding: 0px;
    color: white;
    text-align: center;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
}

.errorContent h1 {
    margin-top: 310px;
    font-size: 140px;
}

.errorContent h3 {
    margin-top: 65px;
    font-size: 17px;
}