.aNavItem {
    text-decoration: none;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    /* input color */
    color: #B09A81;
    text-shadow: 0px 0px 0px #000000;
    /* Inside Auto Layout */
    /* flex: none; */
    order: 1;
    flex-grow: 0;
    margin: 0px 33px;
    margin: 0px;
    margin-left: 33px;
}

.aNavItem:hover {
    color: burlywood;
}

.aNavItem:active {
    color: red;
}