.header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 76px;
    background: #000000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}