* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
}

h2 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 80px;
}

h3 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
}