.aButton {
    margin-top: 50px;
    display: inline-block;
    background-color: brown;
    border-radius: 8px;
    text-decoration: none;
}

.beginButton:hover {
    background: #DAAF7C;
}

.beginButton:active {
    background: #B08F67;
}

.beginButton {
    padding: 5px;
    width: 140px;
    height: 40px;
    text-align: center;
    /* input color */
    background-color: #B09A81;
    border-radius: 8px;
    /* text */
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* text color */
    color: #462929;
    /* Inside Auto Layout */
    margin: 0px;
}